[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
django-debug-toolbar = "==1.7"
factory-boy = "*"
tzlocal = "*"
coverage = "*"
debug-toolbar-user-panel = {editable = true,git = "https://github.com/bport/django-debug-toolbar-user-panel.git"}
ipython = "*"

[packages]
django-bootstrap-static = ">=3.3.7,<3.4"
django-crispy-forms = "==1.7.2"
django-select2 = "==7.0.3"
django-extensions = "==2.1.6"
django-tables2 = "==2.0.6"
django-ical = "==1.4"
django-markwhat = "==1.6.1"
commonmark = "==0.8.1"
django-bleach = "==0.3.0"
Django = "==3.0"
django-split-settings = "*"
requests = '*'
