django==2.2.3
django-bootstrap-static>=3.3.7,<3.4
django-crispy-forms==1.7.2
Django-Select2==7.0.3
django-extensions==2.1.6
django-tables2==2.0.6
django-ical==1.4
django-markwhat==1.6.1
CommonMark==0.8.1
django-bleach==0.3.0
