{% load i18n %}
<form action="{% url 'interview-planning-request' record.process_id record.pk %}" method="POST" class="d-flex">
    {{ record.get_state_display }}
    {% if user in record.interviewers.all  %}
        {% if not record.planned_date %}
            {% csrf_token %}
            {% if record.planning_request_sent %}
                <button class="btn btn-danger btn-xs ml-2" type="submit">
                    <i class="fa fa-calendar-times-o" aria-hidden="true"></i> {% trans "Sent" %}
                </button>
            {% else %}
                <button class="btn btn-info btn-xs ml-2" type="submit">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> {% trans "Not Sent" %}
                </button>
            {% endif %}
        {% endif %}
    {% endif %}
</form>
