th.orderable .sort-icon::before {
    content: "\f0dc";
}

th.desc .sort-icon::before {
    content: "\f0dd";
}

th.asc .sort-icon::before {
    content: "\f0de";
}

/* responsive select2 add important to prevent use of width in the element style */
.select2-container {
    width: 100% !important;
}

.row-action {
    margin-left: 0;
}

.relative {
    position: relative;
}

/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.interview-draft {
    margin: 0 10px 0 10px;
}

.d-flex {
    display:flex;
    justify-content: space-between;
}

.ml-2 {
    margin-left: 5px;
}

.filters {
    margin-bottom: 15px;
}

.filters .form-inline .controls {
    display: inline;
    margin-right: 15px;
}

/* pivotable */
.pivotable-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.pivotable-navbar:before, .pivotable-navbar:after {
    content:none;
}

/* Resize pivotable space usage */
#pivotable-output {
    width: 90%;
    margin: 2rem auto;
}

/* prevent pivotable unused attributes to grow on width */
.pvtUnused {
    display: flex;
    flex-wrap: wrap;
}

/* improve filter visibility and style */
#pivotable-output td.pvtAxisContainer > li > span.pvtAttr {
    padding: 0.5rem 0.8rem;
}
#pivotable-output li.pvtFilteredAttribute span.pvtAttr {
    background-color: orange;
    color: white;
    font-style: normal;
    font-weight: bold;
}

/* improve pivotable filter style */
#pivotable-output .pvtFilterBox {
    border-radius: 1rem;
}

#pivotable-output .pvtFilterBox > p > button {
    border-radius: 0.4rem;
    border: 1px solid black;
    padding: 0.2rem 0.8rem;
}

.pvtFilterBox > p:has(.pvtSearch) input {
    margin-bottom: 1rem;
}

.pvtFilterBox > p:has(.pvtSearch) button:first-child {
    margin-right: 1rem;
}

.pvtFilterBox > p:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pivotable-navbar .filter-fiscal-year {
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pivotable-navbar .filter-fiscal-year span.year-selector-label {
    align-self: center;
}
