th.orderable .sort-icon::before {
    content: "\f0dc";
}

th.desc .sort-icon::before {
    content: "\f0dd";
}

th.asc .sort-icon::before {
    content: "\f0de";
}

/* responsive select2 add important to prevent use of width in the element style */
.select2-container {
    width: 100% !important;
}

.row-action {
    margin-left: 0;
}

.relative {
    position: relative;
}

/* Base styles (regardless of theme) */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.interview-draft {
    margin: 0 10px 0 10px;
}

.d-flex {
    display:flex;
    justify-content: space-between;
}

.ml-2 {
    margin-left: 5px;
}

.filters {
    margin-bottom: 15px;
}

.filters .form-inline .controls {
    display: inline;
    margin-right: 15px;
}
