{% load static %}
{% load i18n %}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}PyouPyou{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'interview/css/theme.css' %}">
        <link rel="stylesheet" href="{% static "interview/css/bootstrap-datetimepicker.min.css" %}">

        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static "interview/js/moment.min.js" %}"></script>
        <script src="{% static "interview/js/bootstrap-datetimepicker.min.js" %}"></script>

        {% block more_css %}
        {% endblock %}
        {{ form.media.css }}

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'dashboard' %}">[{{ user }}]</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <i class="fa fa-bars fa-2x"></i>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="{% url 'process-list' %}">{% trans "Ongoing processes" %}</a></li>
                    <li class="active" ><a href="{% url 'process-closed-list' %}">{% trans "Closed processes" %}</a></li>
                    <li><a href="{% url 'candidate-new' %}">{% trans "New candidate" %}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "More" %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'interviewers-load' %}">{% trans "Load" %}</a></li>
                            <li><a href="{% url 'gantt' %}">{% trans "Arrival planning" %}</a></li>
                            <li><a href="{% url 'import-seekube' %}">{% trans "Import" %}</a></li>
                            <li><a href="{% url 'active-sources' %}">{% trans "Sources" %}</a></li>
                            <li><a href="{% url 'activity_summary' %}">{% trans "Activity summary" %}</a></li>
                            {% if user.is_staff %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><form class="navbar-form" role="search" action="{% url 'search' %}" method="GET">
                        <input type="text" class="form-control" placeholder="{% trans "Search" %}" name="q" value="{{ search_query }}">
                    </form></li>
                    <li><a href="{% url 'calendar_full' %}"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
               </ul>
            </div><!--/.nav-collapse -->
        </div>

        {% block content %} {% endblock %}

        <hr>
        <footer>
            <a href="https://github.com/pyoupyou/pyoupyou">PyouPyou</a>
        </footer>

    {{ form.media.js }}
    <script src="{% static 'interview/js/new-candidate.js' %}"></script>
    </body>
</html>
