{% extends "interview/datatables_base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{{ title }}</div>
        </div>
        {% render_table table %}
    </div>
</div>

<script>
$(document).ready(function() {

    table = new DataTable('#{{ prefix }}-processes-table',{
        fixedHeader: true,
        paging: false,
        lengthChange: false,
        dom: 't',
        columnControl: [
            {
                target: 0,
                content: ["order"]
            },
            {
                target: 1,
                content: [ {
                    extend: 'dropdown',
                    icon: 'search',
                    text: 'Search',
                    content: [{
                        extend: 'searchList'
                    }]
            },]
        }],
        columnDefs: [

        {
            targets: [0,9],
            columnControl: [
                {target: 0,content:[]},
                {target: 1,content:[]}]
        },
             {
            className: 'dtr-control',
            orderable: false,
            target: 0
        },
          {
            targets: [2],
            columnControl: [
                {target: 0,content:["order"]},
                {target: 1,content:["searchDropdown"]}
            ]
        },
        { responsivePriority: 1, targets: 2 },
        { responsivePriority: 2, targets: 9 },
        { responsivePriority: 3, targets: 7 },
        { responsivePriority: 4, targets: 6 },
        { responsivePriority: 5, targets: 3 },
        { responsivePriority: 6, targets: 4 },
        ],
        ordering: {
            indicators: false,
            handler: false
        },

        order: [[5, 'desc']], // Sort by end_date descending (index 5)
        responsive: {
        details: {
            type: 'column',
            target: 'tr'
        },
        layout: {
        bottomStart: null
    }
    },
        rowCallback: function(row, data) {
            if (data.needs_attention_sort === 1) {
                $(row).addClass('danger');
            }
        }
    });
});
</script>
{% endblock %}
