{% extends 'interview/base.html' %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Needs actions" %}</div>
        </div>
        {% render_table actions_needed_processes_table %}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Related processes" %}</div>
        </div>
        {% render_table related_processes_table %}
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% blocktrans with subsidiary=user.consultant.company %} {{subsidiary}} processes{% endblocktrans %}</div>
        </div>
        {% render_table subsidiary_processes_table  %}
    </div>
</div>
{% endblock %}
