{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Arrival planning" %} - Pyoupyou{% endblock %}

<body>
{% block content %}
    <div class="container">
        <div class="filters">
            <form class="form-inline" method="get">
                {{ filter.form|crispy }}
                <input class="btn btn-default" type="submit" value="Filter" />
            </form>
        </div>
        <div id="chart_div">
            {{ gantt|safe }}
        </div>
    </div>
{% endblock %}

