{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load admin_urls %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="lead">
        {% trans "Interview minute" %} <a href="{% url 'process-details' process_id=process.id %}"> {% trans "for process" %}</a> {% trans "concerning" %} <a href="{% url 'candidate' process.pk %}"> {{ process.candidate.name }} </a> {% trans "for subsidiary" %} {{ process.subsidiary.name }}
    </div>
    <form method="post" id="itw-minute">
        {% crispy form %}
        <div class="form-group">
            <div clas="controls">
                <input type="submit" name="itw-go" value="{% trans "GO" %}" class="btn btn-success pull-right" id="submit-id-summit">
                <input type="submit" name="itw-draft" value="{% trans "DRAFT" %}" class="btn btn-primary pull-right interview-draft" id="submit-id-summit">
                <input type="submit" name="itw-no" value="{% trans "NO" %}" class="btn btn-danger pull-right" id="submit-id-summit">
            </div>
        </div>
    </form>
</div>
{% endblock %}
