{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load admin_urls %}
{% load i18n %}

{% block title %}{% trans "Edition CR" %} - {{ process.candidate.name }}  {% endblock %}

{% block more_css %}
<script>
    $(function () {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        function delete_document(id) {
           $.ajax({
               url: "/delete_document_interview_minute",
               type: "POST",
               data: { "document_id" : id },
               success: function (json) {
                   // hide html of deleted document to reflect db update
                   $("#" + id).parent().addClass("hidden")
               },
               error: function (json) {
                   //TODO handle errors
               }
            });
        }

        $(".document-delete-button").each(function() {
            $(this).on('click', (event) => {
                delete_document(event.target.id)
            });
        })
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="lead">
        {% trans "Interview minute" %} <a href="{{ process.get_absolute_url }}"> {% trans "for process" %}</a> {% trans "concerning" %} <a href="{% url 'candidate' process.pk %}"> {{ process.candidate.display_name }} </a> {% trans "for subsidiary" %} {{ process.subsidiary.name }}
    </div>
    {% if interview.get_goal %}
    <div>
        <span style="font-weight: bold">
            {% trans "Interview goal" %}:
        </span>
        {{ interview.get_goal }}
    </div>
    {% endif %}
    <form method="post" id="itw-minute" enctype="multipart/form-data">
        {% crispy form %}
        {% if documents %}
        <div class="form-group">
            <div style="font-weight: bold;">
                {% trans "Current documents" %}
            </div>
            <ul>
            {% for d in documents %}
                    <li>
                        <a href="{{ d.content.url }}" > {{ d.name }} </a>
                        <a class="btn btn-danger document-delete-button" id="{{ d.id }}"><i class="fa fa-envelope-open" aria-hidden="true"></i> {% trans "Delete this document" %}</a>
                    </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="form-group">
            <div clas="controls">
                <input type="submit" name="itw-go" value="{% trans "GO" %}" class="btn btn-success pull-right" id="submit-id-summit">
                <input type="submit" name="itw-draft" value="{% trans "DRAFT" %}" class="btn btn-primary pull-right interview-draft" id="submit-id-summit">
                <input type="submit" name="itw-no" value="{% trans "NO" %}" class="btn btn-danger pull-right" id="submit-id-summit">
            </div>
        </div>
    </form>
</div>
{% endblock %}
