{% extends 'interview/base.html' %}
{% load admin_urls %}
{% load i18n %}
{% load markup %}
{% load bleach_tags %}

{% block content %}
<div class="container">
    <div class="lead">
        {% trans "Interview minute" %} <a href="{{ process.get_absolute_url }}"> {% trans "for process" %}</a> {% trans "concerning" %} <a href="{% url 'candidate' process.pk %}"> {{ process.candidate.name }} </a> {% trans "for subsidiary" %} {{ process.subsidiary.name }}
    </div>
    <h3>{% trans "Interviewer" %}</h3>
    <ul>
        {% for interviewer in interview.interviewers.all %}
        <li>{{ interviewer }}</li>
        {% endfor %}
    </ul>
    <h3>{% trans "Minute" %}
        {% if interview.state == "GO" %}
        <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
        {% elif interview.state == "NO" %}
        <i class="fa fa-thumbs-down text-danger" aria-hidden="true"></i>
        {% endif %}
        {% if user.consultant in interview.interviewers.all %}
            <a class="btn btn-info btn-xs row-action" href="{% url 'interview-minute-edit' interview_id=interview.pk %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> {% trans "Change minute" %}</a>
        {% endif %}
    </h3>
    <p>{{ interview.minute | bleach | commonmark}}</p>
    <h3>{% trans "Suggested interviewer" %}</h3>
    <p>{{ interview.suggested_interviewer }}</p>
    <h3>{% trans "Next interview goal" %}</h3>
    <p>{{ interview.next_interview_goal | bleach | commonmark}}</p>
</div>
{% endblock %}
