{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load admin_urls %}
{% load i18n %}

{% block content %}
<div class="container">

    <div class="lead">
        {% trans "Interview minute" %} <a href="{% url 'process-details' process_id=process.id %}"> {% trans "for process" %}</a> {% trans "concerning" %} <a href="{% url process.candidate|admin_urlname:'change' process.candidate.pk %}"> {{ process.candidate.name }} </a> {% trans "for candidate" %} {{ process.subsidiary.name }}
    </div>
    {% crispy form %}
</div>
{% endblock %}
