{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load admin_urls %}
{% load i18n %}
{% load static %}

{% block more_css %}
    <script type="application/javascript">
    $(function () {
        $('#id_planned_date').datetimepicker({
            locale: 'fr',
            format: "DD/MM/YYYY HH:mm",
            tooltips: {
                selectMonth: 'Sélection du mois',
                prevMonth: 'Mois précédent',
                nextMonth: 'Mois suivant',
                selectYear: "Sélection de l'année",
                prevYear: 'Année précédente',
                nextYear: 'Année suivante',
                selectDecade: 'Sélection de la décennie',
                prevDecade: 'Décennie précédente',
                nextDecade: 'Décennie suivante',
                prevCentury: 'Siècle précédent',
                nextCentury: 'Siècle suivant'
            }
        });
    });
    </script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="lead">
        Interview pour le processus concernant <a href="{% url 'candidate' process.pk %}"> {{ process.candidate.display_name }} </a> pour {{ process.subsidiary.name }}
    </div>
    {% crispy form %}
</div>
{% endblock %}
