{% extends "interview/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Processes"  %} {% endblock %}

{% block more_css %}

<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Ongoing processes" %}</div>
        </div>
        {% render_table open_processes_table %}
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Recently closed processes" %}</div>
        </div>
        {% render_table recently_closed_processes_table %}
    </div>
</div>
{% endblock %}
