{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block more_css %}
    <script type="application/javascript">
      $(function () {
        $('#id_contract_start_date').datetimepicker({
            locale: 'fr',
            format: "DD/MM/YYYY",
            tooltips: {
                selectMonth: 'Sélection du mois',
                prevMonth: 'Mois précédent',
                nextMonth: 'Mois suivant',
                selectYear: "Sélection de l'année",
                prevYear: 'Année précédente',
                nextYear: 'Année suivante',
                selectDecade: 'Sélection de la décennie',
                prevDecade: 'Décennie précédente',
                nextDecade: 'Décennie suivante',
                prevCentury: 'Siècle précédent',
                nextCentury: 'Siècle suivant'
            }
        });
        $('#id_interviewers-planned_date').datetimepicker({
            locale: 'fr',
            format: "DD/MM/YYYY",
            tooltips: {
                selectMonth: 'Sélection du mois',
                prevMonth: 'Mois précédent',
                nextMonth: 'Mois suivant',
                selectYear: "Sélection de l'année",
                prevYear: 'Année précédente',
                nextYear: 'Année suivante',
                selectDecade: 'Sélection de la décennie',
                prevDecade: 'Décennie précédente',
                nextDecade: 'Décennie suivante',
                prevCentury: 'Siècle précédent',
                nextCentury: 'Siècle suivant'
            }
         });
      });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="relative" enctype="multipart/form-data" id="process-candidate-form">
        {% if duplicates %}
        {% trans "This candidate ressembles to those other candidates:" %}
        {% regroup duplicates by candidate as dups %}
        <ul>
            {% for candidate, processes in dups %}
                <li>
                    {{ candidate.display_name }}
                    <ul>
                    {% for process in processes %}
                            <li>
                                {{ process.subsidiary }}: {{ process.start_date }}{% if process.end_date %} - {{ process.end_date }}{% endif %} <a class="btn btn-xs btn-info" href="{% url 'process-details' process_id=process.id slug_info=process.candidate.name_slug %}"><i class="fa fa-folder-open" aria-hidden="true"></i> {% trans "Show" %}</a>
                            </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <p>
        {% trans "Reuse a candidate or create a new one, checkout options at the bottom of this form." %}
        </p>
        {% endif %}

        {% crispy candidate_form %}
        {% crispy process_form %}
        {% if interviewers_form %}
        {% crispy interviewers_form %}
        {% endif %}

        {% if duplicates %}
        {% trans "Candidate(s) that can be reused:" %}
        {% regroup duplicates by candidate as dups %}
        <ul>
            {% for candidate, processes in dups %}
                <li>
                    {{ candidate.display_name }}
                    <a class="btn btn-success" onclick="let form = document.getElementById('process-candidate-form'); form.action='{% url "reuse_candidate" candidate_id=candidate.id %}'; form.submit()"><i class="fa fa-envelope-open" aria-hidden="true"></i> {% trans "Reuse this candidate" %}</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if duplicates %}
            <input type="hidden" name="new-candidate"></input>
        {% endif %}

        <input type="submit" name="summit" value="{% if duplicates %}{% trans "New Candidate" %}{% else %}{% trans "Save" %}{% endif %}" class="btn btn-primary btn-primary" id="submit-id-summit">
    </form>
    <div id="create-source" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" id="create-source">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Add source" %}</h4>
                    </div>
                    <div class="modal-body">
                        {%  crispy source_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{%  trans "Close" %}</button>
                        <input type="submit" name="summit" value="{% trans "Save" %}" class="btn btn-primary btn-primary" id="submit-id-summit">
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div id="create-offer" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="create-offer">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add Offer" %}</h4>
                </div>
                <div class="modal-body">
                    {% crispy offer_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <input type="submit" name="summit" value="{% trans "Save" %}"
                           class="btn btn-primary btn-primary" id="submit-id-summit">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{% endblock %}
