{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block more_css %}
    <script type="application/javascript">
      $(function () {
        $('#id_contract_start_date').datetimepicker({
            locale: 'fr',
            format: "DD/MM/YYYY",
            tooltips: {
                selectMonth: 'Sélection du mois',
                prevMonth: 'Mois précédent',
                nextMonth: 'Mois suivant',
                selectYear: "Sélection de l'année",
                prevYear: 'Année précédente',
                nextYear: 'Année suivante',
                selectDecade: 'Sélection de la décennie',
                prevDecade: 'Décennie précédente',
                nextDecade: 'Décennie suivante',
                prevCentury: 'Siècle précédent',
                nextCentury: 'Siècle suivant'
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" class="relative" enctype="multipart/form-data">
        {% crispy candidate_form %}
        {% crispy process_form %}
        {% if interviewers_form %}
        {% crispy interviewers_form %}
        {% endif %}
        <input type="submit" name="summit" value="{% trans "Save" %}" class="btn btn-primary btn-primary" id="submit-id-summit">
    </form>
    <div id="create-source" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" id="create-source">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Add source" %}</h4>
                    </div>
                    <div class="modal-body">
                        {%  crispy source_form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{%  trans "Close" %}</button>
                        <input type="submit" name="summit" value="{% trans "Save" %}" class="btn btn-primary btn-primary" id="submit-id-summit">
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<div id="create-offer" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="create-offer">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add Offer" %}</h4>
                </div>
                <div class="modal-body">
                    {% crispy offer_form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <input type="submit" name="summit" value="{% trans "Save" %}"
                           class="btn btn-primary btn-primary" id="submit-id-summit">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{% endblock %}
