{% extends "interview/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if "processes" in request.path %}
        {% trans "Process analysis" %}  
    {% elif "interview" in request.path %}
        {% trans "Interview analysis" %}  
    {% endif %}
{% endblock %}

{% block more_css %}
    {% include "interview/_pivotable_header.html" %}
{%  endblock  %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="pivotable_title">{%  trans title %}</div>
<div class="container pivotable-navbar">
    <div class="dropdown">
        <span class="chart-selector-label">{%  trans "Suggested analysis: " %}</span>
        <a class="btn btn-primary dropdown-toggle" role="button" type="button" data-toggle="dropdown" aria-expanded="false">
            <span id="chart-selector-value" data-value="representation-1">{{ representation.0.title }}</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu chart-selector-buttons">
            {% for representation in representations %}
                <li><a class="dropdown-item" href="#" id="representation-{{ forloop.counter }}">{{ representation.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="pivotable-output"></div>
<script src="{% static 'pivotable.js' %}"></script>
<script>
    // data set given to pivotable
    var data = {{ data|safe }};

    $(document).ready(function() {
        let rows = [];
        let cols = [];

        // chart selector dropdown label update on selection change
        document.querySelectorAll(".chart-selector-buttons li a").forEach(button => {
            button.addEventListener("click", () =>{
                document.querySelector('#chart-selector-value').innerText = button.innerText;
            })
        });

        // define chart dropdown suggestions
        {% for representation in representations %}
        	document.querySelector("#representation-{{ forloop.counter }}").addEventListener("click", () => {
                let representationOptions = {"inclusions": {}};
                {% for option, values in representation.options.items %}
                    representationOptions["inclusions"]["{{ option }}"] = {{ values|safe }}
                {% endfor %}
                
                document.querySelector("#chart-selector-value").dataset.value = "representation-{{ forloop.counter }}";
                drawPivot(data, {{ representation.rows|safe }}, {{ representation.cols|safe }},
                    "{{ representation.rendererName|safe }}", "{{ representation.aggregatorName|safe }}",
                    {{ representation.vals|safe }}, representationOptions, "{{ LANGUAGE_CODE }}");
            })
        {% endfor %}

        // launch the initial chart suggestion
        let domCurrentChart = document.querySelector("#chart-selector-value").dataset.value;
        document.querySelector("#"+ domCurrentChart).click();
    });
</script>
{% endblock %}
