{% extends "interview/index.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load admin_urls %}

{% block more_css %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1> Candidat : <a href="{% url process.candidate|admin_urlname:'change' process.candidate.pk %}">{{ process.candidate.name }} </a> </h1>
    {% if process.end_date %}
    Ce processus est terminé
    {% else %}
    Ce processus est en cours
    {% endif %}
    <h1>Documents</h1>
    <ul>
    {% for d in documents %}
        <li> <a href="{{ d.content.url }}" > {{ d.document_type }}</a>
    {% endfor %}
    </ul>
    <h1> Entretiens de ce processus </h1>
    {% render_table interviews_for_process_table %}

    <div>
        <a href="{% url 'process-new-interview' process_id=process.id %}" class="btn">Ajouter un entretien</a>
        <a href="{% url 'process-close' process_id=process.id %}" class="btn">Cloturer le processus</a>
    </div>
</div>
{% endblock %}
