{% extends "interview/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load admin_urls %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block more_css %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h3> {% trans "Candidate:" %} <a href="{% url 'candidate' process.candidate.pk %}">{{ process.candidate.name }} </a> [{{ process.subsidiary }}]</h3>
    {% if process.is_open %}
        <h5> {% trans "This process is in progress" %} </h5>
    {% else %}
        <h5> {% trans "This process is closed" %} - {{ process.get_closed_reason_display }} </h5>
        <span>{{ process.closed_comment }}</span>
    {% endif %}
        <div class="row">
            <div class="col-md-6">
                {% if process.candidate.phone or process.candidate.email %}
                <div class="bs-callout">
                    <h4> {% trans 'Contact' %}</h4>
                    <p>
                        {% if process.candidate.phone %}
                        <p>
                        <dt>{% trans "phone" %}</dt>
                        <dd>{{ process.candidate.phone }}</dd>
                        </p>
                        {% endif %}
                        {% if process.candidate.email %}
                        <p>
                        <dt>{% trans "mail" %}</dt>
                        <dd><a href="mailto:{{process.candidate.email}}">{{process.candidate.email}}</a></dd>
                        </p>
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if process.contract_start_date or process.contract_duration or process.contract_type %}
                <div class="bs-callout">
                    <h4> {% trans 'Contract information' %}</h4>
                    <p>
                        {% if process.contract_type %}
                        <p>
                        <dt>{% trans "Contract type" %}</dt>
                        <dd>{{ process.contract_type }}</dd>
                        </p>
                        {% endif %}
                        {% if process.contract_duration %}
                        <p>
                        <dt>{% trans "Contract duration" %}</dt>
                        <dd>{{ process.contract_duration }}</dd>
                        </p>
                        {% endif %}
                        {% if process.contract_start_date %}
                        <p>
                        <dt>{% trans "Contract start date" %}</dt>
                        <dd>{{ process.contract_start_date }}</dd>
                        </p>
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>

    <h1>{% trans "Documents" %}</h1>
    <ul>
    {% for d in documents %}
        <li> <a href="{{ d.content.url }}" > {{ d.document_type }}</a>
    {% endfor %}
    </ul>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% trans "Interviews for this process" %}</div>
        </div>
        {% render_table interviews_for_process_table %}
        <div class="panel-footer clearfix">
            <a href="{% url 'process-new-interview' process_id=process.id %}" class="btn btn-default pull-right"><i class="fa fa-plus" aria-hidden="true"></i> {% trans "Add an interview" %}</a>
        </div>
    </div>

    <div id="close-process" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'process-close' process_id=process.id %}">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Close Process</h4>
                    </div>
                    <div class="modal-body">
                      {%  crispy close_form %}
                    </div>
                    <div class="modal-footer">
                    <input type="submit" name="summit" value="{% trans "Close Process" %}" class="btn btn-error" id="submit-id-summit">
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div>
        {% if process.is_open %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#close-process"><i class="fa fa-envelope" aria-hidden="true"></i> {% trans "Close this process" %}</button>
        {% else %}
            <a href="{% url 'process-reopen' process_id=process.id %}" class="btn btn-success"><i class="fa fa-envelope-open" aria-hidden="true"></i> {% trans "Reopen this process" %}</a>
        {% endif %}
    </div>
</div>
{% endblock %}
